{% extends 'layout.html.twig' %}

{% block title %}Producto index{% endblock %}

{% block principal %}
<div class="main">
    <div class="shop_top">
        <div class="container">
            <div class="row">
                <h1>Productos</h1>

                <hr>

                <form class="mb-2" action="{{ path('producto_index_busqueda') }}" method="post">
                    <label>Búsqueda:</label>
                    <input type="text" name="busqueda" id="busqueda" value="{{ titulo | default('') }}">
                    <input type="date" name="fechaInicial" id="fechaInicial" value="{{ fechaInicial | default('') }}">
                    <input type="date" name="fechaFinal" id="fechaFinal" value="{{ fechaFinal | default('')  }}">
                    <input type="text" name="categoria" id="categoria" value="{{ categoria | default('') }}">
                    <input type="submit" value="Buscar">
                </form>

                {% for message in app.flashes('mensaje') %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}


    <table class="table mt-2" >
        <thead>
            <tr>
                <th><a href="{{ path('producto_index_ordenado', {ordenacion: 'id'}) }}" title="Pincha para ordenar">ID</a></th>
                <th><a href="{{ path('producto_index_ordenado', {ordenacion: 'titulo'}) }}" title="Pincha para ordenar">Título</a></th>
                <th>Subtítulo</th>
                <th>Descripción</th>
                <th>Categoría</th>
                <th>Usuario</th>
                <th>Fecha</th>
                <th><a href="{{ path('producto_index_ordenado', {ordenacion: 'precio'}) }}" title="Pincha para ordenar">Precio</a></th>
                <th>Imagen</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.titulo }}</td>
                <td>{{ producto.subtitulo }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.categoria }}</td>
                <td>{{ producto.usuario }}</td>
                <td>{{ producto.fecha | date('d/m/Y')}}</td>
                <td>{{ producto.precio }}€</td>
                <td class="text-center"><img width="120" src="{{ asset('/uploads/imgs/' ~ producto.imagen ) }}" alt="{{ producto.imagen }}"></td>
                <td >
                    <a class="btn btn-secondary btn-sm" href="{{ path('producto_show', {'id': producto.id}) }}">Mostrar</a>
                    <br>
                    <a class="btn btn-secondary btn-sm mt-2" href="{{ path('producto_edit', {'id': producto.id}) }}">Editar</a>
                    <br>
                    <a class="btn btn-secondary btn-sm mt-2 delete" href="{{ path('producto_delete_json', {'id': producto.id}) }}">Eliminar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No hay productos a listar.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('producto_new') }}" role="button">Crear</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/delete.js') }}"></script>
{% endblock %}
