{% extends 'layout.html.twig' %}

{% block title %}Detalles - {{ producto.titulo }}{% endblock %}

{% block principal %}

    <div class="main">
        <div class="container">
            <div class="row">
                <br>
                <h1>Detalles Producto</h1>
                <hr>
                <div class="clear">
                    <img src="{{ producto.imagen }}" alt="{{ producto.titulo }}" />
                    <p>Nombre: {{ producto.titulo }} </p>
                    <p>Descripción: {{ producto.descripcion }} </p>
                    <p>Precio: {{ producto.precio }} €</p>
{#                    <p>Usuario: <?= $prodRepository->getUsuario($producto)->getUsername() ?></p>#}
                    <hr>

{#                    <?php if ($app['user']) : ?>#}
{#                    <form class="form-horizontal" action="/comprar/<?= $producto->getId()?>" method="post">#}
{#                        <button class="pull-left btn btn-lg sr-button">Comprar</button>#}
{#                    </form>#}
{#                    <?php endif; ?>#}

                </div>
            </div>
        </div>
    </div>

{% endblock %}
