{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }}
    {{ nombre }}
{% endblock %}

{% block principal %}
    {% if nombre is defined and nombre is not null %}
        <p>Hola {{ nombre }}!</p>
    {% else %}
        <p>Hola mundo!</p>
    {% endif %}

    <p>La fecha de hoy es: {{ fecha | date("d/m/Y") }}</p>
    {# La fecha de hoy es: 07/02/2022#}

    {# loop => información itiración actual (index, first, length, parent..) #}
    {% include'parts/users.part.html.twig' with {'users': users} %}
    {#    <ul>#}
    {#        {% for user in users %}#}
    {#            <li>({{ loop.index }}) {{ user }}</li>#}
    {#        {% endfor %}#}
    {#    </ul>#}
    {# (1) Pepe #}
    {# (2) Jose #}
    {# (3) Eustaquio #}

    <ul>
        {% for i in 1..10 %}
            {% if loop.index % 2 == 0 %}
                <li>{{ i }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    {# 2 #}
    {# 4 #}
    {# 6 #}
    {# 8 #}
    {# 10 #}
{% endblock %}